@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');

html{
    font-size: 62.5%; /* 10px */
    margin: 0;
}

html, body{
    margin: 0;
    background-color: #071C34;
    
    height: 100%;
}

a{
    text-decoration: none;
}

.logo{
	width: 70px;
	height: 70px;

	margin-top: 10px;
}


li{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

h1{
	font-family: 'Montserrat', sans-serif;
	color: #FF6B43;
}


header{
    background-color: #32474F;
    height: 90px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.menu{
    float: right;
    margin-top: -5rem;
    margin-right: 2rem;
}

.botao-menu{
    background-image: url("imgs/menu-botao.png");

    width: 46px;
    height: 45px;

    border-radius: 5px;
    border: 0;
}

@media(min-width: 992px){
    .botao-menu{
        display: none;
    }

	
}

@media(max-width: 991px){
    .item-menu{
        display: block;
    
        line-height: 3;
    
        margin-top: 4rem;
    }

    .menu-itens-header{
		display: none;

		margin-left: 0rem;
    
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    
        background-color: #32474F;
        
        width: 150px;

        z-index: 2000;
    }
    
}

@media(min-width: 992px){
    .item-menu{
        display: inline-block;
        padding-right: 20px;
    }

}

.menu-responsivo-exibir{
    display: block;
}


.menu-itens-header{
    list-style: none;

    margin: 0;
    
    font-size: 1.4rem;
}


